@model UsuarioLoginDTO
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/bootstrap/Login.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Video Background -->
    <div class="video-bg">
        <video autoplay loop muted>
            <source src="~/bootstrap/images/205006-926015709.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="~/bootstrap/images/fried-chicken-breast-with-vegetables.jpg" alt="">
        <div class="text">
          <span class="text-1">Accede a tu cuenta <br> y continúa gestionando con excelencia.</span>
          <span class="text-2">Inicia Sesión</span>
        </div>
      </div>
    </div>
  
   
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Iniciar Sesión</div>
                    <form asp-action="Login" method="post">
                        <input type="hidden" name="pReturnUrl" value="@ViewBag.Url" />
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Email" placeholder="name@example.com" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Password" type="password" placeholder="Ingresar contraseña" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <span class="text-danger">@ViewBag.Error</span>
                        <div class="button input-box">
                            <input type="submit" value="Iniciar Sesión">
                        </div>
                        <div class="text">
                            <a href="@Url.Action("Register", "Usuario")">¿No tienes cuenta? Regístrate aquí</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  
  

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>
